body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-size: cover;
}

.hidden {
  display: none;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  margin: 10px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
}